<ngx-ui-loader></ngx-ui-loader>

<div class="container-fluid">
  <div class="row" *ngIf="isResponseGet">
    <div class="col-md-6 form-group">
      <h5>Customer Dropdown</h5>
      <app-dropdown [dropDownlist]="customers" (eventTrigger)="onCustomerDropdownValueChange($event)"></app-dropdown>
      <p class="text-danger text-center"><b>{{cSelectedValue.name}}</b> </p>
    </div>
    <div class="col-md-6">
      <h5>Territories Dropdown</h5>
      <app-dropdown [dropDownlist]="territories" (eventTrigger)="onTerritoriesDropdownValueChange($event)">
      </app-dropdown>
      <p class="text-danger"><b>{{tSelectedValue.name}}</b> </p>
    </div>
  </div>
</div>